* {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    
}


body{
    padding: 0;
    margin: 0 0;
   
    
}

img{
    max-width: 200px;
}

.services{
    width: 80%;
    margin: 3rem auto;
    padding: 1rem;
    background-color: rgb(240, 238, 214);
    
}

.text{
    font-size: 4rem;
    color: rgb(61, 23, 23);
    background-color: rgb(240, 238, 214);
}

.stick_list1{
    /* border: 3px solid red;  */
    text-align: center;
    font-size: 3rem;
    background-color: rgb(241, 240, 229);
    color: rgb(53, 22, 34);
    top: 4%;
    padding: 3rem; 
    margin-top: 20px;
    margin-left: 10%;
    width: 70%;

}

.stick_list2{
    /* border: 3px solid red;  */
    font-size: 2.5rem;
    text-align: center;
    background-color: rgb(199, 243, 156);
    color: rgb(18, 8, 27);
  
    top: 30%;
    padding: 3rem;
    margin: 20px auto;
    width: 35%;
    
}

.stick_list3{
    font-size: 2.5rem;
    text-align: center;
    background-color: rgb(169, 238, 238);
    color: rgb(18, 9, 26);
   
    top: 42%;
    width: 35%;
    padding: 3rem;
    margin-top: 20px;
    margin-left: 30%;
   
    
}

.stick_list4{
    font-size: 250%;
    position:relative;
    background-color: rgb(243, 175, 92);
    color: rgb(84, 28, 136);
    width: 40%;
    padding: 2.5rem;
    margin-top: 20px;
    margin-left: 25%;
}

.stick_list5{
    font-size: 250%;
    text-align: center;
    background-color: rgb(240, 238, 214);
    color: blueviolet;
   
    width: 70%;
  
    padding: 5%;
    margin: 20px auto;
} 

.stick_list5 img{
    min-width: 400px;
}

/* .stick_list6{
    font-size: 250%;
    text-align: center;
    background-color: deepskyblue;
    color: blueviolet;
    position: sticky;
    top: 362px;
    left: 50px;
    padding: 5%;
    margin: 20%;
    
} */

@media (max-width: 700px ) {

    .stick_list5 img{
        min-width: 250px;

    }
    
}
