* {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}


body{
    padding: 0;
    margin: 0 0;
    
}

img{
    max-width: 200px;
}

.services{
    width: 80%;
    margin: 3rem auto;
    padding: 1rem;
    background-color: rgb(240, 238, 214);
    
}

.text{
    font-size: 4rem;
    color: rgb(61, 23, 23);
    background-color: rgb(240, 238, 214);
}

.stick_list1{
    text-align: center;
    font-size: 3rem;
    background-color: rgb(241, 240, 229);
    color: rgb(53, 22, 34);
    position: sticky;
    top: 4%;
    padding: 3rem; 
    margin: 10rem auto;
    width: 70%;

}

.stick_list2{
    font-size: 2.5rem;
    background-color: rgb(199, 243, 156);
    color: rgb(18, 8, 27);
    position: sticky;
    top: 34%;
    padding: 3rem;
    margin: 10rem auto;
    width: 35%;
    
}

.stick_list3{
    font-size: 2.5rem;
    background-color: rgb(169, 238, 238);
    color: rgb(18, 9, 26);
    position: sticky;
    top: 45%;
   
    padding: 3rem;
    margin-left: 30%;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 35%;

    
}

.stick_list4{
    font-size: 250%;
    text-align: center;
    background-color: darkorange;
    color: blueviolet;
    position: sticky;
    top: 58%;
  
    padding: 3rem;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 42%;
}

.stick_list5{
    font-size: 250%;
    text-align: center;
    background-color: rgb(240, 238, 214);
    color: blueviolet;
    position: sticky;
    width: 70%;
    top: 99%;
    padding: 5%;
    margin: 5% auto;
} 

/* .stick_list6{
    font-size: 250%;
    text-align: center;
    background-color: deepskyblue;
    color: blueviolet;
    position: sticky;
    top: 362px;
    left: 50px;
    padding: 5%;
    margin: 20%;
    
} */

@media screen and (min-width:600px){
   
    
    img{
        max-width: 700px;
    }
    
    .stick_list4{
        top:0;
        margin: 0;
        text-align: center;
       
       
        position: sticky;
        top: 58%;
        left: 0;
        padding: 3rem;
        margin: 0 auto;
        width: 40%;
        margin-bottom: 200px;
    }


    
}
